.ticket {
    background: var(--primary-color);
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
}

.ticket h1 {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.form-group label {
    font-size: 18px;
    font-weight: bold;
}

.form-group input[type="email"],
.form-group input[type="date"] {
    width: 60%;
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 16px;
}

.counter {
    display: flex;
    align-items: center;
    gap: 20px;
}

.counter button {
    width: 30px;
    height: 30px;
    border: none;
    background: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
    font-weight: bold;
    transition: background 0.3s;
}

.counter button:hover {
    background: var(--secondary-color); 
    color: var(--fontcolor1);
}

.form-group-total {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.amound {
    color: var(--secondary-color);
}

.ticket-info {
    font-size: 16px;
    line-height: 200%;
    background: white;
    padding: 10px;
    border-radius: 5px;
    margin: 30px 0;
    text-align: center;
}

.ticket-btn {
    background: var(--secondary-color);
    color: var(--fontcolor1);
    font-size: 20px;
    border: none;
    padding: 10px 20px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.ticket-btn:hover {
    background: #FF6600;
}
 @media (max-width:600) {
    .ticket-info {
        font-size: 14px;
        line-height: 170%;
        margin: 20px 0;
    }
}